:root {
  --primary-color:  #088636;
  --secondary-color: #f1f5f9;
  --accent-color: #16a34a;

  --success-color: #0805c5;
  --success-hover: #1815f1;

  --danger-color: #dc2626;
  --danger-hover: #b91c1c;

  --warning-color: #f59e0b;
  --warning-hover: #9e680c;

  --text-color: #111827;
  --white-color: #ffffff;
  --border-color: #d1d5db;
}
